@model IEnumerable<CompanyABC.Domain.Entities.Product>

@{
    ViewBag.Title = "Products";
}

@foreach (var p in Model)
{
    <div class="item">
        <h3>@p.Title</h3>
        @p.Description
        <h4>@p.ListPrice.ToString("c")</h4>
    </div>
}
