CompanyABC/CompanyABC.Domain/bin/*
CompanyABC/CompanyABC.Domain/obj/*
CompanyABC/CompanyABC.Tests/bin/*
CompanyABC/CompanyABC.Tests/obj/*
CompanyABC/CompanyABC.WebUI/bin/*
CompanyABC/CompanyABC.WebUI/obj/*
CompanyABC/CompanyABC.Console/bin/*
CompanyABC/CompanyABC.Console/obj/*
CompanyABC/CompanyABC.PDFGeneration/bin/*
CompanyABC/CompanyABC.PDFGeneration/obj/*
CompanyABC/packages/*