<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="EntitiesConnection" connectionString="metadata=res://*/EF.EFDataModel.csdl|res://*/EF.EFDataModel.ssdl|res://*/EF.EFDataModel.msl;provider=System.Data.SqlClient;provider connection string='data source=.\SQLEXPRESS;attachdbfilename=&quot;C:\Users\Connor M\Projects\CompanyABC\CompanyABC.WebUI\App_Data\CompanyABC.Database.mdf&quot;;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
    <add name="Entities" connectionString="metadata=res://*/EF.EFDataModel.csdl|res://*/EF.EFDataModel.ssdl|res://*/EF.EFDataModel.msl;provider=System.Data.SqlClient;provider connection string='data source=.\SQLEXPRESS;attachdbfilename=&quot;C:\Users\Connor M\Projects\CompanyABC\CompanyABC.WebUI\App_Data\CompanyABC.Database.mdf&quot;;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework'" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>